*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 50%;
  --primary-color: #101d2c;
  --secondary-color: #c69963;
  --tertiary-color: #54483a;
  --houses-color: #6d5d4b;
  --unused-color: #aaa;
}

body {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

/* ---------------HEADER STYLING-----------------*/
.header1 {
  color: white;
  font-size: 4.5rem;
}

.header2 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.buttons {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  padding: 1.5rem 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.header3 {
  color: white;
  font-size: 1.6rem;
}

.header4 {
  color: #54483a;
  font-size: 1.9rem;
  font-weight: 400;
}

.header5 {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--unused-color);
}

.header6 {
  font-weight: 300;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
}

.grayscale {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/*---------------- BODY-------------*/
aside#sidenav {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  height: 580vh;
  width: calc(1vw + 7rem);
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 200;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: calc(4rem + 1rem);
  height: 5rem;
  padding: 0.2rem 0;
  margin-top: 2rem;
  cursor: pointer;
  position: fixed;
}

.hamburger .line {
  height: 0.25rem;
  width: 100%;
  background-color: white;
}

.hidden {
  height: 100vh;
  width: 100vw;
  background-color: #c69963;
  position: fixed;
  top: -100%;
  left: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.sidenav_content {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  background-color: #c69963;
}

/*---------ANIMATING NAV CONTENT--------*/
/*---------------- MAIN-------------*/
#core {
  width: 100%;
  height: 400vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sec1 {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main1 {
  min-width: 68.9vw;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.93)), to(rgba(16, 29, 44, 0.93))), url(../img/hero.jpeg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main1 img {
  width: 10vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.main1_content {
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 2;
}

.btn {
  margin-top: 2rem;
}

.seenon {
  margin-top: 15vh;
}

.seenon_write {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3rem;
}

.seenon_write span {
  width: 25vw;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.images img {
  width: 8vw;
  height: 4vh;
}

.main2 {
  width: 26vw;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.realtors {
  width: 70%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.realtor1,
.realtor2,
.realtor3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 1rem;
}

.realtor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 1rem;
}

.realtors img {
  width: calc(3vw + 3rem);
  height: 8vh;
  border-radius: 50%;
}

.sec2 {
  height: 100vh;
  width: 90%;
  margin: auto;
}

.containers {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  padding: 2rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0rem 2rem;
  margin-top: 10vh;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6 {
  margin-left: 2rem;
}

.containers .header6 {
  margin-top: 2rem;
}

.sec2 img {
  -webkit-filter: invert(65%) sepia(43%) saturate(407%) hue-rotate(353deg) brightness(90%) contrast(89%);
  filter: invert(65%) sepia(43%) saturate(407%) hue-rotate(353deg) brightness(90%) contrast(89%);
  width: calc(4vw + 3rem);
  height: calc(4vh + 3rem);
}

/*aside#sidenav::after {
  width: 100vw;
}
.sidenav_content::after {
  position: absolute;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}*/
.sec3 {
  height: 50vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  z-index: 30;
}

.sec3_content1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 153, 99, 0.5)), to(rgba(198, 153, 99, 0.5))), url(../img/back.jpg);
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr [6];
  grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content_image1 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.content_image2 {
  width: 115%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  z-index: 20;
}

.sec3_content2 {
  background-color: #f9f7f6;
}

.sec3_content2-container {
  width: 80%;
  height: 80%;
  margin-left: calc(4vw + 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3rem 0;
}

.sec3_content2-container .element {
  margin-top: 3rem;
}

.sec3 h4 {
  font-size: 4rem;
  font-style: italic;
}

.sec3_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sec4 {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
  top: 50vh;
}

.home_img {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.icon {
  width: 2rem;
  margin-right: 2rem;
}

.diff_btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  grid-row: 1/-1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: end;
  align-self: end;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.section4_container {
  margin: 10rem auto;
  width: 70%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.houses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: fr [3];
  grid-template-rows: repeat(3, fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 3rem;
  margin-top: 2rem;
}

.crealtor {
  text-align: center;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.sec5 {
  width: 90%;
  margin: auto;
  position: relative;
  top: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vw [7];
  -ms-grid-columns: 1fr [8];
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
}

.gallery_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.item-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.item-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.item-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
}

.item-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.item-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.item-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
}

.item-9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.item-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.item-11 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.item-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.item-13 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.item-14 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.foot {
  position: relative;
  top: 180vh;
  min-height: 30vh;
  background-color: #101d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}

.list li {
  display: block;
  position: relative;
}

.list a {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 2rem;
}

.list li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  background-color: blue;
  z-index: 30;
}

.foot h5 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  .header1 {
    color: white;
    font-size: 3.5rem;
  }
  aside#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #core {
    height: 400vh;
  }
  .hamburger {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    margin-top: 0rem;
  }
  .main1 {
    padding-top: 10vh;
    width: 100vw;
    min-height: 75vh;
  }
  .main1 img {
    width: calc(10vw + 6rem);
  }
  .main2 {
    width: 100vw;
    min-height: 75vh;
  }
  .images img {
    width: 8vw;
    height: 4vh;
  }
  .container {
    height: 70%;
  }
  .sec4 {
    height: 100vh;
  }
  .section4_container {
    margin: auto;
    height: 100%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .sec5 {
    position: relative;
    top: 100vh;
  }
  .foot {
    position: relative;
    top: 220vh;
  }
}

@media screen and (max-width: 800px) {
  .sec1 {
    display: inline-block;
  }
  .main1 {
    min-height: 100vh;
  }
  .main2 {
    min-height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .realtors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .realtor1,
  .realtor2,
  .realtor3 {
    margin-top: 2rem;
  }
  .realtors img {
    width: calc(6vw + 3rem);
    margin-right: 2rem;
  }
  .sec2 {
    position: relative;
    top: 45vh;
    height: 150vh;
  }
  .containers {
    height: 100%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    margin-top: 0vh;
  }
  .sec3 {
    position: relative;
    top: 50vh;
    height: 100vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sec3_content1 {
    overflow: hidden;
  }
  .sec3_content2 {
    grid-row: 1 / -1;
  }
  .sec4 {
    position: relative;
    top: 80vh;
    height: 60vh;
  }
  .section4_container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 8rem;
  }
  .sec5 {
    position: relative;
    top: 500vh;
  }
  .foot {
    position: relative;
    top: 640vh;
  }
}

@media screen and (max-width: 550px) {
  .main2 {
    min-height: 40vh;
  }
  .realtors {
    height: 80%;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .containers {
    margin-top: 15vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sec2 img {
    width: calc(4vw + 5rem);
  }
  .sec5 {
    position: relative;
    top: 380vh;
  }
}
/*# sourceMappingURL=style.css.map */
